@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
	padding-right: 0
	padding-left: 0
ul
	margin: 0
	padding: 0
li
	list-style: none

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.wrapper
	background-color: $base
	height: auto
	width: 100%
	margin: 0 auto
	padding: 0 40px
	color: $light_grey
	.row

.logo
	height: 40px
	line-height: 40px
	margin-left: 10px
	span
		padding-left: 10px
.menu__panel
	display: inline-block
	height: 40px
	line-height: 40px
	margin-left: 5%
	text-transform: uppercase
	nav
		display: inline-block
		.menu
			li
				display: inline-block
				a
					color: $light_grey
					padding: 0 10px
					text-decoration: none
					&:hover
						color: $accent
				.active__link
					color: $accent_dark
.admin
	display: inline-block
	height: 40px
	line-height: 40px
	float: right
	.user
		margin-right: 5px
	.enter
		color: $grey_dark
		margin-right: 10px

//Content
.content
	display: inline-block
	width: calc(100% - 314px)
	border-top: 4px solid $black
	border-bottom: 4px solid $black
	border-right: 4px solid $black
	height: 800px
	padding-top: 15px
/* Style the tab */
div.tab
	overflow: hidden
	background-color: #f1f1f1
	margin-right: 10px


/* Style the buttons inside the tab */
.filter__content
	label.label__two
		border: none
div.tab button
	background-color: $accent
	float: left
	width: 50%
	border: none
	outline: none
	cursor: pointer
	padding: 14px 16px
	transition: 0.3s
.tab__filter
	font-size: 0
	padding: 20px 0 10px 0
.tab__filter button
	width: 25%
	height: 20px
	display: inline-block
	font-size: 10px
	text-transform: uppercase
	border: none
	outline: none
	cursor: pointer


/* Change background color of buttons on hover */
div.tab button:hover, .tab__filter button
	background-color: $accent_dark


/* Create an active/current tablink class */
div.tab button.active, .tab__filter button
	background-color: $accent_dark


/* Style the tab content */
.tabcontent
	display: none
	padding: 6px 12px
	border-top: none

/* Pagination */
.pagination
	display: inline-block
	border-bottom: 1px solid $grey

.pagination
	a
		color: $grey
		background-color: #f1f1f1
		float: left
		border-left: 1px solid $light_grey
		border-right: 1px solid $light_grey
		padding: 8px 16px
		text-decoration: none
	.active__pagination
		background: $accent
		color: $white
		border: none
/* Plus */
.plus__wrapper
	height: 35px
	display: inline-block
	margin-left: 5px
.plus
	position: relative
	width: 20px
	height: 20px
	line-height: 35px
	cursor: pointer
	&:before,
	&:after
		content: ""
		position: absolute
		background-color: $white

	/* Vertical line */
	&:before
		top: 0
		left: 50%
		width: 4px
		height: 100%
		margin-left: -2px

	/* horizontal line */
	&:after
		top: 50%
		left: 0
		width: 100%
		height: 4px
		margin-top: -2px

//Sidebar
.sidebar
	position: relative
	float: left
	width: 300px
	height: 800px
	padding: 10px
	border: 4px solid $black
.fade__block
	position: relative
	display: inline-block
	width: 15px
	margin-right: -5px
	height: 800px
	border: 4px solid $black
	border-right: none
	.fade
		position: absolute
		right: 25px
		top: 35px
	.active
		transform: rotate(180deg)
/* Accordion */
.accordion
	position: relative
	margin-bottom: 10px
	width: 100%
	overflow: hidden
	span
		padding-left: 15px

input
	position: absolute
	opacity: 0
	z-index: -1

label
	position: relative
	display: block
	border-bottom: 1px solid $light_grey
	text-transform: uppercase
	padding: 0 0 0 1em
	font-weight: bold
	line-height: 3
	cursor: pointer
	background-color: $base
label.label__two
	border-bottom: 1px solid $grey
	text-transform: lowercase
	line-height: 1.5
.accordion-content
	max-height: 0
	overflow: hidden
	transition: max-height .35s
	label
		&::after
			content: "\f0dd"
			font-family: 'fontawesome', sans-serif
			top: -15px

.accordion-content p
	margin: 1em

/* :checked */
input:checked ~ .accordion-content
	max-height: 10em

/* Icon */
label::after
	position: absolute
	right: -10px
	top: 0
	display: block
	width: 3em
	height: 3em
	line-height: 3
	text-align: center
	-webkit-transition: all .35s
	-o-transition: all .35s
	transition: all .35s

input[type=checkbox] + label::after
	content: "\f078"
	font-family: 'fontawesome', sans-serif

input[type=radio] + label::after
	content: "\25BC"

input[type=checkbox]:checked + label::after
	transform: rotate(180deg)

input[type=radio]:checked + label::after
	transform: rotateX(180deg)
//Filter
.filter
	display: inline-block
	position: absolute
	height: 70px
	margin-left: 30px
	border-left: 1px solid $grey
	.filter__icon
		margin-left: 25px
		color: $accent
		font-size: 25px
		margin-right: 5px
	.close__filter
		position: absolute
		right: -20px
		top: 5px
		width: 15px
		height: 15px
		cursor: pointer
		&:hover
			opacity: 1

		&::before, &::after
			position: absolute
			left: 15px
			content: ' '
			height: 15px
			width: 2px
			background-color: $accent
		&::before
			transform: rotate(35deg)
		&::after
			transform: rotate(-35deg)

//Start
.start
	background-color: $grey_dark
	text-align: center
	width: 80%
	margin: 25px auto 0
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5)

	&:hover
		background-color: $light_grey
		button
			background-color: $light_grey
	button
		background-color: $grey_dark
		color: $white
		border: none
		outline: none

//Search
.search
	margin-bottom: 10px
	form
		position: relative
		border-bottom: 1px solid $grey
		height: 25px
		width: 90%
		input
			z-index: 1
			opacity: 1
			outline: none
			top: -5px
			position: relative
			border: none
			background: transparent
			&::-webkit-input-placeholder
				color: $light_grey
				padding-left: 15px
		.fa
			color: $white
			position: absolute
			top: 0
			right: -20px
//Online
.status__online
	margin-bottom: 5px
	padding-left: 15px
	border-left: 1px solid $grey
	font-size: 15px
	span
		display: block
	.online
		text-transform: uppercase
//Dashboard
.dashboard
	border: 1px solid $light_grey
	padding: 10px
	margin-right: 10px
	height: 680px
	.dashboard__info
		color: $white
		.dasboard__name
			margin-right: 25px
			text-transform: uppercase
		.add__widget
			color: $white
			background: transparent
			border: none
			outline: none
			option
				color: $grey
	.dashboard__diagram__container
		margin-top: 50px
		height: 50%
		max-height: 100%
		width: 50%
		.dashboard__diagram__top
			position: relative
			height: 50px
			text-align: center
			line-height: 50px
			color: $black
			text-transform: uppercase
			background-color: $light_grey
			border-top-left-radius: 5px
			border-top-right-radius: 5px
		.dashboard__diagram
			background-color: $white
			border-bottom-left-radius: 5px
			border-bottom-right-radius: 5px
			&::before
				content: ""
				display: inline-block
				min-height: inherit
				height: 100%
				vertical-align: middle
			.diagram
				display: inline-block
				vertical-align: middle
				width: 50%
				height: 50%
				margin: 0 24%
				border-radius: 50%
				background-color: red
//Icon close
.close__diagram__top, .close__dashboard
	position: absolute
	right: 20px
	top: 20px
	width: 20px
	height: 20px
	cursor: pointer
	&:hover
		opacity: 1

	&::before, &::after
		position: absolute
		left: 15px
		content: ' '
		height: 20px
		width: 2px
		background-color: $black
	&::before
		transform: rotate(35deg)
	&::after
		transform: rotate(-35deg)

.close__dashboard
	display: inline-block
	margin-right: 5px
	&::before, &::after
		content: ''
		background-color: $white

//Footer
.footer
	text-align: center
@import "media" // Всегда в конце
